.menubar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), var(--primary-color)), url("/public/images/longdoctor.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 55vh;
    display: flex;
    flex-direction: column;
}

.menubar-tiny {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), var(--primary-color)), url("/public/images/longdoctor.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
}

.logout-icon{
    height: auto;
    width: 3rem;
}

.nav-toggler {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
    font-size: 2rem;
    color: white;
}

.menubar-links,
.menubar-links div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}



.brand-image {
    height: 60px;
    vertical-align:middle;
    width: auto;
    z-index: 1000;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8rem;
    gap: 20px;
    color: white;
    margin-bottom: 10rem;
}

.container-text h1 {
    font-size: 8rem;
    color: white;
}

.container-text h2 {
    color: white;
    font-weight: lighter;
    font-size: 3rem;
}

.signup-btn button {
    background-color: #ec361e;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 0.3rem;
    color: #fff;
    padding: 1.5rem 3.2rem;
    font-size: 1.6rem;
    margin-top: 4rem;
}

.signup-btn button:hover {
    background-color: #e86555;
    transform: scale(1.025);
    cursor: pointer;
}

.nav-toggler {
    display: none;
}

.nav-item a:hover{
    text-decoration: underline var(--primary-color);
}


.nav-toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
}

#mobile-logo {
    display: none;
}

@media (max-width: 600px) {

    #mobile-logo {
        display: flex;
        align-items: center;
        color: white;
        font-size: 3.5rem;


    }

    .nav-toggler {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
    }

    .menubar-links {
        position: fixed;
        margin-top: -3rem;
        right: 0;
        height: 100vh;
        width: 100%;
        background: linear-gradient(rgb(105, 103, 103), rgb(140, 57, 54));
        flex-direction: column;
        transform: translateX(100%);
        z-index: 99;
    }

    .container-text {
        display: none;
    }

    .menubar {
        height: 12rem;
    }


}


/* Active Class */
.nav-active {
    transform: translateX(0%);
    transition: 0.5s ease-in;
}

/* Toggle Icon Animation */

.toggle .line1 {
    transform: rotate(-45deg) translate(-8.5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-10px, -5px);
}
