body{
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.signup-btn button{
    background-color: #ec361e;
    border: none;
    border-style: solid;
    border-radius: 0.5rem;
    color: white;
    padding: 1.5rem 3.2rem;
    font-size: 1.6rem;
    margin-top: 4rem;
}

.signup-btn button:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.submit-button{
    background-color: #ec361e;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    color: white;
}

.submit-button:hover{
    cursor: pointer;
    background-color: aquamarine;
}

.li-div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin: 2rem;
    
}


.review-list{
    list-style-type: none;
    display: flex;
}


