* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


/* Header section */

#header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( rgba(226, 107, 107, 0.45), rgb(168, 98, 96)), url(images/longdoctor.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50rem;
}

.header-container {
    display: flex;
    padding: 3.2rem 3.2rem;
    justify-content: space-between;
    font-size: 2rem;
}

.menubar-links ul {
    margin: 0;
    padding: 1.6rem 1.6rem;
    display: flex;
}

.menubar-links li {
    list-style-type: none;
}

.menubar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.menubar-links li a:hover {
    text-decoration: underline;
}

.brand-image img {
    height: 50px;
    width: auto;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 1.6rem;
    font-size: 2.5rem;
    color: white;
}

.signup-btn button {
    background-color: #ec361e;
    border: none;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 2px;
    color: white;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 4rem;
}

.signup-btn button:hover {
    background-color: #8a2315;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    width: 3rem;
    height: 3rem;
}

.toggle-button .bar {
    height: 1rem;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
}

/* -------------------------------------------------------- */

/* Company and Reviews Section */



/* 
 * Image Fade effect 
*/

.company-image {
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.company-card-item:hover .company-image {
    opacity: 0.7;
}

/* 
 * Title above the flex managed boxes 
*/
#reviews > h1, #related-companies > h1 {
    font-size: 3rem;
    padding-bottom: 6rem;
    text-align: center;
}

/* 
 * Positioning and styling of the Boxes
*/
#reviews, #related-companies {
    padding-top: 4rem;
    padding-bottom: 6rem;
}


#reviews {
    width: 100%;
    background-color: rgb(240, 236, 236);
}

#company-cards {
    display: flex;
    flex-wrap: wrap;
}

#review-cards {
    position: relative;
    width: 100%;
    height: 300px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;

}

#company-cards {
    justify-content: center;
    gap: 128px;
}

/* 
 * The content inside of the cards  
*/
.company-card-item, .review-card-item {
    background-color: white;
    box-shadow: 5px 10px 8px #e0e0e0;
}  

.review-card-item {    
    width: 40em;
    height: 30em;
      display: inline-block;
    margin-left: 100px;
} 

.company-card-item {    
    width: 20em;
    height: 20em;
} 

/* -------------------------------------------------------- */

/* 
 * Mobile Support  
*/
@media (max-width: 500px) {
    .container-text {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    
    .toggle-button {
        display: flex;
        margin: 4rem 2.5rem;
    }

    .menubar-links {
        display: none;
        width: 100%;
    }

    .menubar {
        flex-direction: column;
    }   

    .menubar-links ul {
        width: 100%;
        flex-direction: column;
    }   

    .menubar-links li {
        text-align: center;
    }   

    .menubar-links li a {
        padding: 1rem;
    }   

    .menubar-links.active {
         display: flex;
    }   

    .menubar-links.close {
        display: none;
    }

    #review-cards {
        flex-direction: column;
        justify-content: space-between;
    }   


    .review-card-item {     
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    } 
}
/* -------------------------------------------------------- */


/* About us Section */

#about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text{
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    font-size: large;
}

.about-text > h1 {
    font-size: 3rem;
}

.image-slider{
    text-align: center;
    position: relative;
}

.slider{
    display: none;
}

.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

.image-slider h1{
    margin: 2rem;
    font-size: 3rem;
}

.image-slider img{
    width: 100%;
}

.about-text p {
    margin: 3rem;
}

.text-under{
    text-align: center;
    justify-content: center;
    margin: 5rem;
    font-size: large;
    width: 100;
    height: auto;
    
}

.image-slider{
    overflow: hidden;
    height: 50rem;
}

.image-slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s image-slider infinite;
}

.image-slider figure img{
    float: left;
    width: 20%;
}

@keyframes image-slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
}
/* -------------------------------------------------------- */


/* Foooter section */


.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 40rem;
    width: auto;
}

.footer-container h1{
    font-size: 3rem;
    text-decoration: underline;
}

.footer-container ul{
    font-size: 2rem;
}

.footer-container li{
    list-style-type: none;
    margin: 1rem;
}

.footer-container li a {
    text-decoration: none;
    color: black;
}

.footer-images{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}






