* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: italic;
    font-size: 10px;
}

#reviews {
    background-color: lightgray;
    position: relative;
}
#reviews > h1 {
    position: relative;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}



#flex-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#flex-reviews > div {
    width: 20em;
    height: 20em;
    border-radius: 2px;
    background-color: white;
    box-shadow: 5px 10px 8px #e0e0e0;
}

.review {
     
}

