#review-section{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.review-section-header{
    display: flex;
    font-size: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-weight: lighter;
    flex-wrap: wrap;
}

.review-section-review-list{
    margin-top: 5rem;
    display: flex;
    justify-content: left;
    gap: 10rem;
    flex-wrap: wrap;
}


.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title{
    text-align: center;
}

.modal-content{
    width: 40rem;
    height: 50rem;
    background-color: #e8bbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 0.25rem;
}

.modal-wrapper{
    display: flex;
    flex-direction: column;
}

.modal-username{
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.modal-text{
    height: 20rem;
    width: 30rem;
    resize: none;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    border: 1rem #ec361e;

}

.modal-text:focus {
    outline: none;
}

.modal-button:hover{
    border-color: #ec361e;
}
@media (max-width: 1300px){
    .review-section-review-list{
        justify-content: center;
    }
}
