#review-section{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.review-section-header{
    display: flex;
    font-size: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-weight: lighter;
    flex-wrap: wrap;
}

.review-section-review-list{
    margin-top: 5rem;
    display: flex;
    justify-content: left;
    gap: 10rem;
    flex-wrap: wrap;
}
