/* Company section */

/*
 * Title above the flex managed boxes
*/
#related-companies > h1 {
    font-size: 3rem;
    padding-bottom: 6rem;
    text-align: center;
    margin-top: 2%;
}

/*
 * Positioning and styling of the Boxes
*/
#related-companies {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.company-image img {
    height: 20rem;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 2rem 2rem 3rem #e0e0e0;
}

.company-image:hover {
    transition: 0.5s ease;
}

#company-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}


.company-parah p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.company-parah{
    margin: 5rem;
}

/*
 * The content inside of the cards
*/
.company-card-item {
    background-color: white;
    width: 60%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}




@media (max-width: 1350px) {

    .company-card-item {
        flex-wrap: wrap;
    }

    .company-parah p{
        width: 30rem;
    }

}
