#related-companies {
    margin-top: var(--section-margin);
}

.company-image img {
    height: 20rem;
    backface-visibility: hidden;
    box-shadow: 2rem 2rem 3rem var(--shadow-color);
    border-radius: var(--border-radius);
}

#company-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: left;
    margin-top: 3rem;
    gap: var(--gap-flex);
}


.company-parah p{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}


/*
 * The content inside of the wrap
*/
.company-card-item {
    height: auto;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    gap: var(--gap-flex);

}


@media (max-width: 1350px) {

    .company-card-item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .company-parah p{
        width: 50rem;
    }

}


@media (max-width: 800px) {

    .company-parah p{
        width: 25rem;
    }
}
