/* Company section */

/*
 * Title above the flex managed boxes
*/

/*
 * Positioning and styling of the Boxes
*/
#related-companies {
    margin-top: 10rem;
}

.company-image img {
    height: 20rem;
    backface-visibility: hidden;
    box-shadow: 2rem 2rem 3rem #e0e0e0;
}

#company-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: left;
    gap: 5vh;
}


.company-parah p{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}


/*
 * The content inside of the cards
*/
.company-card-item {
    height: auto;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    gap: 2vh;

}




@media (max-width: 1350px) {

    .company-card-item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .company-parah p{
        width: 30rem;
    }

}




