/* Foooter section */

.shortcut{
    width: 15rem;
    height: 10rem;
}

.dropbar-container{
    display: none;
}

.information, .support{
    width: 25rem;
    height: 10rem;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 10%;
    margin-top: 10rem;
}

.footer-container h1{
    font-size: 2rem;
}

.footer-container ul{
    font-size: 2rem;
}

.footer-container li{
    list-style-type: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-container li a {
    text-decoration: none;
    color: black;
}
.footer-images img{
    height: 10rem;
}

.footer-images{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 30rem;
}

.footer-container li a:hover{
    text-decoration: underline var(--primary-color);
}

.copy-footer{
    margin-top: 2rem;
}
.footer-container li:hover{
    transform: scale(1.1);
}

#footer{
    background: linear-gradient(var(--background-color), var(--primary-color));
}

@media (max-width: 979px){
    .footer-container{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .footer-images{
        flex-wrap: wrap;
    }

    .shortcut, .information, .support{
        display: none;
    }

    .dropbar-container{
        display: flex;
        flex-direction: column;
    }

    .dropbar-container nav{
        width : 30rem;
        background: #f5f5f5;
        margin : 1rem auto;
        border-radius: 0.4rem;
    }

    .dropbar-container span{
        padding : 3rem;
        background : #ffffff;
        color : rgb(0, 0, 0);
        font-size : 2.0em;
        cursor : pointer;
        display: block;
        border-radius: 0.4rem;
    }

    .dropbar-container span::after{
        float: right;
        right: 10%;
        content: "+";
    }

    .slide{
        clear:both;
        width:100%;
        overflow: hidden;
        height: 0;
        text-align: center;
        transition: height .4s ease;
    }

    .slide li{
        padding : 2.8rem;
    }

    #touch, #touch1, #touch2{
        position: absolute; opacity: 0; height: 0;
    }

    #touch:checked + .slide, #touch1:checked + .slide, #touch2:checked + .slide {
        height: 25rem;
    }
}

