#product-card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 6%;
}

@media (max-width: 920px){
    #product-card-section {
        justify-content: center;
        gap: 5rem;
    }
}