#about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.simple-image-slider{
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-text{
    text-align: center;
    margin-top: 5rem;
    font-size: large;
}

.about-text > h1 {
    font-size: 3rem;
}

.about-text p {
    margin: 3rem;
}

.text-under{
    text-align: center;
    margin: 5rem;
    font-size: large;
    height: auto;
}


@media (max-width: 1000px) {
    .simple-image-slider{
        display: none;
    }
}

