#about-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.simple-image-slider{
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-text{
    text-align: center;
    font-size: large;
    width: 30%;
}

.about-text > h1 {
    font-size: 3rem;
}

.about-text p {
    margin: 3rem;
    text-align: left;
}

.text-under{
    text-align: center;
    margin: 5rem;
    font-size: large;
    height: auto;
}

.about-text img{
    display: none;
}


@media (max-width: 1000px) {
    .simple-image-slider{
        display: none;
    }

    .about-text img{
        display: inline-block;
        height: 20rem;
        width: auto;
    }


    .about-text{
        text-align: center;
        font-size: large;
        width: 90%;
    }
}

