/* testimonials */

#testimonial-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: var(--section-margin);
}

.testimonial-header {
    text-align: center;
}


.testimonial-header h2 {
    margin-bottom: 6%;
    font-size: 2rem;
}

.testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;

    justify-content: space-between;

}


.testimonial p {
    margin-top: 1.5rem;
    text-align: left;
}

.testimonial {
    font-size: 2rem;
    height: 40rem;
    width: 40rem;
    text-align: left;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 3rem;
    box-shadow: 2rem 2rem 3rem var(--shadow-color);
    position: relative;

}

.testimonial-wrapper img {
    border-radius: 100%;
    margin: 2%;
    width: 7rem;
}

.signature {
    position: absolute;
    bottom: 10%;
    font-style: italic;
    color: #666666;
}


@media (max-width: 2090px){
    .testimonial-wrapper {
        justify-content: center;

    }
}

@media (max-width: 1350px){
    .testimonial-wrapper {
        justify-content: center;

    }
}
