/* testimonials */

#testimonial-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    margin-top: 15rem;
}

.testimonial-header {
    font-size: 3rem;
    text-align: center;

}

.testimonial-header h2 {
    margin-bottom: 6%;
    font-size: 2rem;
}

.testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    justify-content: space-between;

}


.testimonial p {
    margin-top: 1.5rem;
    text-align: left;
}

.testimonial {
    font-size: 2rem;
    height: 40rem;
    width: 40rem;
    text-align: left;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 3rem;
    box-shadow: 2rem 2rem 3rem #e0e0e0;

    position: relative;

}

.testimonial-wrapper img {
    border-radius: 100%;
    margin: 2%;
    width: 7rem;
}

.signature {
    position: absolute;
    bottom: 10%;
    font-style: italic;
    color: #606060;
}





@media (max-width: 1350px){
    .testimonial-wrapper {
        justify-content: center;

    }
}
