/* testimonials */
#testimonial-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: var(--section-margin);
}

.testimonial-header h2 {
    text-align: center;
    margin-bottom: 6%;
    font-size: 2rem;
}


.testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-flex);
    justify-content: space-between;

}

/* testimonial card content & size */
.testimonial {
    height: 40rem;
    width: 40rem;
    padding: 3rem;

    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    box-shadow: 2rem 2rem 3rem var(--shadow-color);
    position: relative;
}

.testimonial-wrapper img {
    border-radius: 100%;
    margin: 2%;
    width: 7rem;
}

.testimonial h3 {
    font-size: 2.5rem;
}

.testimonial p {
    margin-top: 1.5rem;
}

.signature {
    position: absolute;
    bottom: 10%;
    font-style: italic;
    color: #666666;
}


@media (max-width: 2133px){
    .testimonial-wrapper {
        justify-content: center;
    }
}
