.product-card-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 35rem;
    height: 50rem;
    background-color: white;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 2rem 2rem 3rem #e0e0e0;
}

.product-card-title {
    font-size: 2.5rem;
}

.product-card-description {
    font-size: 2rem;
    margin-top: 1rem;
}

.product-text-container {
    padding: 1.5rem 3rem;
}

.title h2 {
    font-size: 3rem;
}

.product-card-item a {
    text-decoration: none;
    border-radius: 0.25rem;
    background-color: #ec361e;
    color: white;
    width: 15rem;
    align-self: center;
    margin-top: auto;
    margin-bottom: 10%;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.product-card-item p {
    text-align: left;
}

.product-card-item a:hover {
    background-color: #e86555;
    transform: scale(1.025);
    cursor: pointer;
}