.product-card-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    width: 35rem;
    height: 50rem;
    overflow: hidden;
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    box-shadow: 2rem 2rem 3rem var(--shadow-color);
}

.product-card-title {
    font-size: 2.5rem;
}

.product-card-description {
    margin-top: 1rem;
}

.product-text-container {
    padding: 1.5rem 3rem;
}

.product-card-item a {
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    font-weight: bold;
    color: white;
    width: 15rem;
    align-self: center;
    margin-top: auto;
    margin-bottom: 10%;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.product-card-item p {
    text-align: left;
}

.product-card-item a:hover {
    background-color: var(--hover-color);
    transform: scale(1.025);
    cursor: pointer;
}
