.checkout-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0rem;
    gap: 2rem 10rem;
    flex-wrap: wrap;
}

.product-image {
    width: 50rem;
    height: auto;
}

.related-product-images {
    width: 24.5rem;
    height: auto;
}

.related-products {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.related-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    gap: 0.5rem;
}

.related-product:hover > .related-product-tag {
    color: white;
    background-color: grey;
}

.related-product-tag {
    color: transparent;
    transition: 250ms ease-in-out;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: fit-content;
}

Radio {
    font-size: 6rem;
}