.checkout-section {
    display: flex;
    justify-content: center;
    margin: 10rem 0rem;
    gap: 2rem 1rem;
    flex-wrap: wrap;
}

.product {
    height: inherit;
}

.product-image {
    width: 50rem;
    height: auto;
}

.related-product-images {
    width: 24.5rem;
    height: auto;
}

.related-products {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.related-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    gap: 0.5rem;
    transition: 250ms ease-in-out;
}

.related-product:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.related-product:hover > .related-product-tag {
    color: white;
    background-color: grey;
}

.related-product-tag {
    color: transparent;
    transition: 250ms ease-in-out;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: fit-content;
}

.choices {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 5rem;
    border-radius: 0.25rem;
    border: 2px solid black;
    margin: 0;
}

.product-title {
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}

.buynow-button {
    margin-top: auto;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #ec361e;
    color: white;
}

.buynow-button:hover {
    cursor: pointer;
}

.radio-label {
    font-size: 1.4rem;
}

.choice-title {
    font-size: 1.8rem;
}