.form-section{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), var(--primary-color)), url("/public/images/longdoctor.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: var(--border-radius);
    padding: 5rem 8rem;
}

.header-forms-label{
    margin-bottom: 10%;
    align-self: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}

.form-container label{
    font-size: 1.7rem;
}

.form-container button{
    margin-top: 2rem;
    height: 5rem;
}

.form-container input{
    height: 2rem;
    border-style: none;
    font-size: 1.5rem;
}

.brand-logo{
    height: 8rem;
    border-radius: var(--border-radius);
    margin-top: 1rem;
    padding: 1rem;
}

.register-anchor, .main-anchor{
    color: #000000;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.form-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-anchor:hover, .main-anchor:hover{
    text-decoration: underline var(--primary-color);
    cursor: pointer;
}

.sign-up-warning {
    align-self: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.sign-up-success {
    color: white;
    padding: 1.5rem;
    text-align: center;
    background-color: #02ad02;
    border-radius: var(--border-radius);
}

.sign-up-success:hover {
    color: white;
    padding: 1.5rem;
    text-align: center;
    background-color: #159a15;
    border-radius: var(--border-radius);
    transform: scale(1.02);
}

.feedbackText {
    font-size: 1.6rem;
    color: white;
}

.login-signup-button {
    font-size: 1.6rem;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.login-signup-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.025);
    cursor: pointer;
}

.helping-text {
    font-size: 1.3rem;
    color: white;
}