.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
}

@media (max-width: 2035px){
    .center {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 900px){
    .center {
        width: 100%;
        margin-left: 0;
    }
}