/*
 *  Centers all the components (except header and footer, since they are always 100% vw) & applies the same margin, scales with resolution
 */

#center-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
}

@media (max-width: 2035px){
    #center-wrapper {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 900px){
    #center-wrapper {
        width: 100%;
        margin-left: 0;
        
    }
}