.review-component{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 18rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: var(--card-background-color);
    box-shadow: 2rem 2rem 3rem var(--shadow-color);
}

.review-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.review-comment{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
}

.review-username {
    display: flex;
    justify-content: space-between;
}

.review-icon {
    margin-left: 1rem;
}

.review-icon:hover {
    cursor: pointer;
    transform: scale(1.20);
}




