.review-component{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 18rem;
    background-color: #ecdede;
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: 1rem 1rem 7rem 0.3rem rgba(107, 61, 61, 0.4);
}

.review-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.review-comment{
    font-size: large;
}

